.aui-list {
    background-color: #f5f5f5;
}

.aui-list .aui-list-item {
    background-color: #fff;
}

.aui-list .aui-list-item-right,
.aui-list-item-title-row em {
    max-width: 70%;
    text-align: right;
}

.aui-list .mendian {
    text-align: left;
}

.zq-block {
    display: block;
    padding: 0 0.6rem;
    line-height: 1.7rem;
    border: 1px solid #7ec32f;
    border-radius: 0.2rem;
    color: #7ec32f;
}

.zq-block.active {
    background: #7ec32f;
    color: #fff;
}