<widget id="A6058441380446" version="0.0.1">
    <name>天牛网-网点端</name>
    <description>
        天牛网-网点端
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        天牛网-网点端
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false" />
    <preference name="appBackground" value="rgba(0,0,0,0.0)" />
    <preference name="windowBackground" value="rgba(0,0,0,0.0)" />
    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)" />
    <preference name="hScrollBarEnabled" value="true" />
    <preference name="vScrollBarEnabled" value="true" />
    <preference name="autoLaunch" value="true" />
    <preference name="fullScreen" value="true" />
    <preference name="autoUpdate" value="true" />
    <preference name="smartUpdate" value="true" />
    <preference name="debug" value="true" />
    <preference name="statusBarAppearance" value="true" />
    <permission name="readPhoneState" />
    <permission name="camera" />
    <permission name="record" />
    <permission name="location" />
    <permission name="fileSystem" />
    <permission name="internet" />
    <permission name="bootCompleted" />
    <permission name="hardware" />
    <feature name="aliPayPlus">
        <param name="urlScheme" value="aliPayPlusA6058441380446" />
    </feature>
    <feature name="wxPay">
        <param name="urlScheme" value="wxd25204dd5ae366b9" />
        <param name="apiKey" value="wxd25204dd5ae366b9" />
        <!-- <param name="apiSecret" value="6bcb21d56f24629409f8875c5234e1e0" /> -->
    </feature>
    <feature name="ajpush">
        <param name="app_key" value="7f94e39ea23ac96ba25154bb" />
        <param name="channel" value="tianniu-shops-push" />
    </feature>
</widget>