<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../assets/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/bespeak.css">
</head>

<body id="bespeak-form">
    <div class="aui-content" style="padding-bottom:5rem;">
        <ul class="aui-list aui-list-noborder">
            <li class="aui-list-item aui-margin-b-10">
                <div class="aui-list-item-inner aui-list-item-arrow aui-padded-t-10 aui-padded-b-10" onclick="jumpUrl.chooseshoplist()">
                    <div class="aui-list-item-title">退还门店：</div>
                    <div class="aui-list-item-right mendian aui-padded-t-5 aui-padded-b-5">
                        <h4 style="font-weight:bold;">
                            <span v-text="selectAppointInfo.name">电动车服务店</span> （<span v-text="selectAppointInfo.shopno">Z0038</span>）
                        </h4>
                        <p v-text="selectAppointInfo.shopsAddress">郑州市金水区农业南路11号商鼎中心B区临街商铺B1173号</p>
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-margin-b-10">
                <div class="aui-list-item-inner aui-padded-t-10 aui-padded-b-10">
                    <div class="aui-list-item-title">退还电池型号：</div>
                    <div class="aui-list-item-right">
                        <span v-text="selectAppointInfo.batteryname">6020锂电</span>
                        <span v-text="selectAppointInfo.groupnum">1</span>组
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-margin-b-10">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-title">预约到店时间</div>
                    <div class="aui-list-item-right clearfix aui-padded-t-10 aui-padded-b-10">
                        <div class="zq-block fl aui-margin-l-5 aui-margin-b-5" :class="{'active':(item.time==timerange)}" v-for="item in selectAppointInfo.bespeakTime" @click="bespeakTimeBtn($index)">
                            <span v-text="item.time">2</span> 小时到店退还
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item" style="background-size: 100% 0px;">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-title">退还租金：（含本期结余和已续租期租金）</div>
                    <div class="aui-list-item-right">
                        <span class="price" v-text="selectAppointInfo.rent.rent | currency '¥ ' '2' ">￥0.00</span>
                    </div>
                </div>
            </li>
            <li class="aui-padded-l-15 aui-font-size-14 price aui-margin-t-10">
                未到达当前租期的80%，若要退租需支付30%违约金
            </li>
            <li class="aui-list-item" style="background-size: 100% 0px;">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-title">退租违约金：</div>
                    <div class="aui-list-item-right">
                        <span class="price" v-text="selectAppointInfo.rent.latefee | currency '¥ ' '2' ">￥0.00</span>
                    </div>
                </div>
            </li>
            <template v-if="selectAppointInfo.rent.latefee>0">
                <li class="aui-list-item aui-margin-t-15">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title">选择支付方式</div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner" @click="paymodeBtn('0')">
                        <div class="aui-list-item-title">
                            <img src="../../assets/image/zfb_03.png" style="width: 1.5rem;" class="aui-pull-left aui-margin-r-10">
                            <span style="line-height: 1.5rem;">支付宝</span>
                        </div>
                        <div class="aui-list-item-right">
                            <input type="radio" class="aui-radio" name="paymode" value="0" v-model="paymode">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner" @click="paymodeBtn('1')">
                        <div class="aui-list-item-title">
                            <img src="../../assets/image/wx_03.png" style="width: 1.5rem;" class="aui-pull-left aui-margin-r-10">
                            <span style="line-height: 1.5rem;">微信</span>
                        </div>
                        <div class="aui-list-item-right">
                            <input type="radio" class="aui-radio" name="paymode" value="1" v-model="paymode">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner" @click="paymodeBtn('2')">
                        <div class="aui-list-item-title">
                            <img src="../../assets/image/qb_03.png" style="width: 1.5rem;" class="aui-pull-left aui-margin-r-10">
                            <span style="line-height: 1.5rem;">钱包支付</span> （余额 ￥ {{selectAppointInfo.wallet}}）
                        </div>
                        <div class="aui-list-item-right">
                            <input type="radio" class="aui-radio" name="paymode" value="2" v-model="paymode">
                        </div>
                    </div>
                </li>
            </template>
            <li class="aui-padded-l-15 aui-font-size-14 price aui-margin-t-10">
                退租时，若您的当前租期未超过80%，将按照12元/天结算当前已过租期，并支付当前租期30%违约金，剩余租金将退还至您的钱包。
                <br/>到达服务网点完成电池退回预约后，租金将发送至您的钱包余额。
            </li>
        </ul>
    </div>
    <footer class="aui-bar aui-bar-tab">
        <div class="aui-content-padded">
            <div class="aui-btn aui-btn-primary aui-btn-block aui-btn-sm" onclick="saveBtn()">
                <span class="aui-pull-left">•</span>立即预约<span class="aui-pull-right">•</span>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../../assets/js/api.js"></script>
<script type="text/javascript" src="../../assets/js/zepto.min.js"></script>
<script type="text/javascript" src="../../assets/js/common.js"></script>
<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="js/battery_isrent.js"></script>

</html>