<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>增加配货订单</title>
    <link rel="stylesheet" type="text/css"  href="../../assets/css/aui.css">
    <link rel="stylesheet" type="text/css"  href="../../assets/css/common.css">
    <link rel="stylesheet" type="text/css"  href="css/addorder.css">
</head>
<body>
<div class="aui-content" id="addobtarder-frm" v-cloak style="padding-bottom:8rem;">
    <div class="aui-title aui-padded-l-15 aui-margin-b-10 aui-margin-t-10">• 请选择增加配货数量</div>
    <ul class="aui-list aui-media-list">
            <li class="aui-list-item aui-list-item-middle" v-for="item in batteryselect.batteryList">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width: 3rem;">
                        <img src="images/dc_03.png" class="aui-img-round aui-list-img-sm">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title aui-font-size-14">
                             <span v-text="item.name">6020锂电</span>
                            </div>
                        </div>
                        <div class="aui-list-item-text">
                        <div class="aui-list-item-title aui-font-size-14 price">
                            <span>单价：</span>￥<span v-text="item.pickcost">1700</span> /组
                        </div>
                        </div>
                    </div>
                    <div class="aui-list-item-right aui-margin-r-10">
                        <div class="aui-bar aui-bar-btn aui-bar-btn-sm">
                            <div class="aui-bar-btn-item aui-padded-t-5 aui-padded-b-5" tapmode v-on:click.stop="change_goods_num(0,$index)">
                                <i class="aui-iconfont aui-icon-minus"></i>
                            </div>
                            <div class="aui-bar-btn-item aui-padded-l-5 aui-padded-r-5" style="width:2%">
                                <input class="aui-input aui-text-center" type="number" v-model="item.groupnum" min="0" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" onfocus="if(this.value!=''){this.value=''}" onblur="if(this.value=='' ||this.value<=0 ){this.value=0};">
                            </div>
                            <div class="aui-bar-btn-item aui-padded-t-5 aui-padded-b-5" tapmode v-on:click.stop="change_goods_num(1,$index)">
                                <i class="aui-iconfont aui-icon-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="aui-list aui-list-noborder aui-padded-b-15">
            <li class="aui-list-item aui-margin-b-10">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-title">配货成本</div>
                    <div class="aui-list-item-right price">
                        <span class="corange" v-text="totalprice | currency '¥ ' '2' ">￥0.00</span>
                    </div>
                </div>
            </li>

            <div class="aui-title aui-padded-l-15 aui-margin-b-10">• 支付方式</div>
            <li class="aui-list-item">
                <div class="aui-list-item-inner" @click="paymodeBtn('0')">
                    <div class="aui-list-item-title">
                        <img src="../../assets/image/zfb_03.png" style="width: 1.5rem;" class="aui-pull-left aui-margin-r-10">
                        <span style="line-height: 1.5rem;">支付宝</span>
                    </div>
                    <div class="aui-list-item-right">
                        <input type="radio" class="aui-radio" name="paymode" value="0" v-model="paymode">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner" @click="paymodeBtn('1')">
                    <div class="aui-list-item-title">
                        <img src="../../assets/image/wx_03.png" style="width: 1.5rem;" class="aui-pull-left aui-margin-r-10">
                        <span style="line-height: 1.5rem;">微信</span>
                    </div>
                    <div class="aui-list-item-right">
                        <input type="radio" class="aui-radio" name="paymode" value="1" v-model="paymode">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner" @click="paymodeBtn('2')">
                    <div class="aui-list-item-title">
                        <img src="../../assets/image/qb_03.png" style="width: 1.5rem;" class="aui-pull-left aui-margin-r-10">
                        <span style="line-height: 1.5rem;">钱包</span>（余额 ￥ {{batteryselect.wallet?batteryselect.wallet:'0'}}）
                    </div>
                    <div class="aui-list-item-right">
                        <input type="radio" class="aui-radio" name="paymode" value="2" v-model="paymode">
                    </div>
                </div>
            </li>

        </ul>
</div>
<footer class="aui-bar aui-bar-tab aui-padded-10" id="footer">

        <div class="aui-content">
            <div class="aui-content-padded">
                <div class="aui-btn aui-btn-primary aui-btn-block aui-btn-sm" onclick="saveBtn()">
                    <span class="aui-pull-left">•</span>立即支付<span class="aui-pull-right">•</span>
                </div>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../../assets/js/api.js"></script>
<script type="text/javascript" src="../../assets/js/zepto.min.js"></script>
<script type="text/javascript" src="../../assets/js/common.js"></script>
<script type="text/javascript" src="../../assets/js/vue.min.js"></script>
<script type="text/javascript" src="js/addorder.js"></script>
</html>